﻿<!doctype html>
<html ng-app="exampleDragAndDrop">
<head>
    <meta charset="utf-8">
    <title>rcNgDragAndDrop demo</title>
    <style>
        a, button {
            font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            display: block;
            color: #333;
            margin-bottom: 10px;
        }

        div.dd {
            color: #FFF;
            box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
            padding: 4px 12px 9px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            margin: 5px;
        }

        div.draggable {
            width: 150px;
            height: 150px;
            border: 1px solid #FFFFFF;
        }

        div.droppable {
            width: 250px;
            height: 250px;
        }

        .blue {
            background: #55ACEE;
            border: 1px solid #3B88C3;
        }

        .brown {
            background: #FC5B3F;
        }

        .blueb {
            background: #112F41;
        }
    </style>
</head>
<body ng-controller="MainCtrl">

<div style="width:50%;float:left;">
    <div id="blue" rc-ng-draggable="false" on-dropped="onDropped(ev)" class="dd draggable blue">
        Drag and drop me!
    </div>

    <div id="brown" rc-ng-draggable on-dropped="onDropped(ev)" class="dd draggable brown">
        Drag and drop me!
    </div>

    <div id="blueb" rc-ng-draggable="true" on-dropped="onDropped(ev)" class="dd draggable blueb">
        Drag and drop me!
    </div>

    <div id="blue2" rc-ng-draggable="{{}}" on-dropped="onDropped(ev)" class="dd draggable blue">
        Drag and drop me!
    </div>
</div>

<div style="width:50%;float:right;">
    <div id="blue" rc-ng-droppable on-drop="onDrop(ev)" class="dd droppable blue">
        Drop me something!
    </div>

    <div id="brown" rc-ng-droppable on-drop="onDrop(ev)" class="dd droppable brown">
        Drop me something!
    </div>

    <div id="blueb" rc-ng-droppable on-drop="onDrop(ev)" class="dd droppable blueb">
        Drop me something!
    </div>
</div>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/hammerjs/hammer.js"></script>
<script src="../js/rcNgDragAndDrop.js"></script>
<script src="../js/rcNgDraggable.js"></script>
<script src="../js/rcNgDroppable.js"></script>
<script>
    var app = angular.module('exampleDragAndDrop', ['rcNgDragAndDrop']);

    app.controller('MainCtrl', [ '$scope', '$element', '$log', '$window', function ($scope, $element, $log, $window) {

        $scope.onDrop = function (ev) {

            //$window.alert('Something is dropped into me!!!');
            $log.info(ev);
            ev.droppable.append(ev.data.$el)

        }

        $scope.onDropped = function (ev) {

            //$window.alert('I\'m dropped!!!');
            $log.info(ev);

        }
    }]);

</script>
</body>
</html>
